.about-us h1{
    padding: 20px;
    text-align: center;
}
.historia-celtics {
    padding: 20px;
    text-align: center;
}
.video{
    display: flex;
    justify-content: center;
    align-items: center;
    margin: auto;
    border-radius: .25em;
    margin-bottom: 5%;
}